black==22.3.0;implementation_name=="cpython"
mypy==0.961;implementation_name=="cpython"
# netifaces only provides 64-bit Windows wheels for Python up to 3.8 and we use 64-bit CI builds
netifaces;python_version=='3.8' and platform_system=='Windows' or platform_system!='Windows'
pytest==7.1.2
pytest-cov==3.0.0